# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales
venv/
env/
ENV/
env.bak/
venv.bak/
.env

# Base de datos
*.sqlite3

# Logs
*.log

# Entornos de desarrollo / IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Frontend
node_modules/
dist/
.parcel-cache/
